* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

#container {
  background-color: lightblue;
  margin: auto;
  margin-top: 50px;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.characters {
  position: relative;
  width: 200px;
  height: 300px;
  border: 3px solid whitesmoke;
  border-radius: 20px;
}

h2 {
  margin-top: 30px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  margin-top: 30px;
}

.spinner-border {
  position: absolute;
  text-align: center;
  top: 180px;
  left: 48%;
  font-size: 20px;
}

.planets {
  margin-left: 100px;
  position: relative;
  width: 200px;
  height: 300px;
  border: 3px solid whitesmoke;
  border-radius: 20px;
}

button {
  position: absolute;
  top: 220px;
  text-align: center;
  left: 40px;
  padding: 5px 30px;
  border-radius: 20px;
  border: 1px solid black;
}
.planets button {
  left: 50px;
}

h1 {
  position: relative;
  top: 130px;
  left: 46%;
}
