* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

#container {
  background-color: bisque;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
}
